<%- include('../partials/header') %>

<section id='flights-index'>
  <h1>All Flights</h1>

  <div id='flights-list'>
    <div class='table-header'>Airline</div>
    <div class='table-header'>Flight No.</div>
    <div class='table-header'>Airport</div>
    <div class='table-header'>Departure Time</div>
    <div class='table-header'></div>
    <% flights.forEach(flight => { %>
      <div><%= flight.airline %></div>
      <div><%= flight.flightNo %></div>
      <div><%= flight.airport %></div>
      <% let now = new Date(); %>
      <div><%= flight.departs.toLocaleString() %></div>
      <div class='flight-detail-link'>
        <a href='/flights/<%= flight._id %>'>Details</a>
      </div>
    <% }); %>
  </div>
</section>
<div class='filler'></div>

<%- include('../partials/footer') %>
