<%- include('../partials/header') %>

<section id='flight-detail-view'>
  <h1><%= flight.airline %> <%= flight.flightNo %></h1>

  <div id='flight-details'>
    <div class='table-header'>Airline:</div>
    <div><%= flight.airline %></div>
    <div class='table-header'>Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div class='table-header'>Origin Airport:</div>
    <div><%= flight.airport %></div>
    <div class='table-header'>Departure Time:</div>
    <div><%= flight.departs.toLocaleString() %></div>
    <div class='table-header'>Destinations:</div>
    <div>
      <% if (flight.destinations.length) { %>
        <% flight.destinations.forEach(destination => { %>
          <p>
            <%= destination.airport %> &bull;
            <%= destination.arrival.toLocaleString() %>
          </p>
        <% }); %>
      <% } %>
    </div>
    <div style='background-color: inherit'></div>
    <div style='background-color: #f005'>
      <strong style='color: white'>Add Destination:</strong><br/>
      <form
        id='inset-form'
        action='/flights/<%= flight._id %>/destinations'
        method='POST'
      >
        <select name='airport'>
          <option value='AUS'>AUS</option>
          <option value='DEN'>DEN</option>
          <option value='DFW'>DFW</option>
          <option value='LAX'>LAX</option>
          <option value='SAN'>SAN</option>
        </select>
        <input name='arrival' type='datetime-local'/>
        <button type='submit'>Submit</button>
      </form>
    </div>
    <div class='table-header'>Tickets Issued:</div>
    <div>
      <% if (tickets.length) { %>
        <% tickets.forEach(ticket => { %>
          <p>
            <%= ticket.seat %> &bull;
            $<%= ticket.price %>
          </p>
        <% }); %>
      <% } %>
    </div>
    <div style='background-color: inherit'></div>
    <div style='background-color: #f005'>
      <a
        href='/flights/<%= flight._id %>/tickets/new'
        style='font-weight: bold'
      >Issue New Ticket</a>
    </div>
  </div>
</section>
<div class='filler'></div>

<%- include('../partials/footer') %>
